<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>{{ site.name }}</title>

		<!-- favicon -->
		<link rel="shortcut icon" href="favicon.ico">

		<!-- jquery mobile CSS -->
		<link rel="stylesheet" href="css/themes/default/jquery.mobile-1.4.1.min.css">

		<!-- fonts -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

		<!-- jquery mobile JS -->
		<script src="js/jquery.js"></script>
		<script src="js/jquery.mobile-1.4.1.min.js"></script>

		<!-- app specific stuff -->
		<!-- external panel -->
		<script>
			$( document ).on( "pagecreate", function() {
				$( "body > [data-role='panel']" ).panel();
				$( "body > [data-role='panel'] [data-role='listview']" ).listview();
			});
			$( document ).one( "pageshow", function() {
				$( "body > [data-role='header']" ).toolbar();
				$( "body > [data-role='header'] [data-role='navbar']" ).navbar();
			});
		</script>
	</head>

	<body>
		{{ content }}
	</body>
</html>
